<!doctype html>
    <head>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/general.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
               <a class="navbar-brand" href="/" style="color:rgb(254,197,3);font-size:30px;">frlrm</a> 
        </nav>
        {% block body %}{% endblock %}    
        <script src="/js/jquery-1.12.4.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js"></script>
    </body>